In [35]:
%matplotlib notebook
import json
import numpy as np
import os
import pandas as pd
import sys
import matplotlib.pyplot as plt
from sklearn.utils import shuffle
import time, datetime, math

DATA_DIR = 'data/twitter/predict_ii/'

def print_time(unix, str=''):
    print(str, time.ctime(int(unix)))
    
def get_readable_time(unix):
    return [time.ctime(int(u)) for u in unix]

In [21]:
twitter_df = pd.DataFrame()
for filename in os.listdir(DATA_DIR):
    content = pd.read_csv(DATA_DIR + filename, sep='\t')
    twitter_df = pd.concat([twitter_df, content])

print(twitter_df.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 18995 entries, 0 to 10
Data columns (total 13 columns):
currency      12370 non-null object
tweet         18995 non-null object
username      18995 non-null object
favorites     18995 non-null int64
retweets      18995 non-null int64
date          18995 non-null int64
id            18995 non-null int64
permalink     18995 non-null object
geo           0 non-null float64
hashtags      6810 non-null object
mentions      4939 non-null object
sent          18995 non-null float64
vader_sent    18995 non-null float64
dtypes: float64(3), int64(4), object(6)
memory usage: 2.0+ MB
None

In [24]:
twitter_df.to_pickle('data/twitter/milica_combined.pkl')

In [70]:
twitter_df = twitter_df.sort_values(by='date', ascending=True)
twitter_df.corr()

            favorites  retweets      date        id  geo      sent  vader_sent
favorites    1.000000  0.886469  0.016622  0.016622  NaN -0.000591   -0.003964
retweets     0.886469  1.000000  0.007405  0.007405  NaN -0.003494   -0.010960
date         0.016622  0.007405  1.000000  1.000000  NaN  0.003803   -0.000831
id           0.016622  0.007405  1.000000  1.000000  NaN  0.003803   -0.000831
geo               NaN       NaN       NaN       NaN  NaN       NaN         NaN
sent        -0.000591 -0.003494  0.003803  0.003803  NaN  1.000000    0.244321
vader_sent  -0.003964 -0.010960 -0.000831 -0.000831  NaN  0.244321    1.000000

In [69]:
dates = get_readable_time(list(twitter_df['date']))
#dates

time_diff = twitter_df['date'].diff().sort_values(ascending=False)
time_diff.describe()

count    18994.000000
mean       541.249395
std       1078.725470
min          0.000000
25%        109.000000
50%        288.000000
75%        668.000000
max      86950.000000
Name: date, dtype: float64

In [64]:
time_diff = twitter_df['date'].diff().sort_values().reset_index().query('date<1500')
time_diff
#time_diff.describe()

       index    date
0         30     0.0
1        133     0.0
2        124     0.0
3         98     0.0
4         97     0.0
5        176     0.0
6        174     0.0
7        205     0.0
8         87     0.0
9        139     0.0
10         6     0.0
11       201     0.0
12       129     0.0
13       178     0.0
14       181     0.0
15         7     0.0
16       204     0.0
17       118     0.0
18         9     0.0
19       117     0.0
20       167     0.0
21       167     0.0
22       113     0.0
23        45     0.0
24         2     0.0
25       154     0.0
26       107     0.0
27         4     0.0
28       142     0.0
29       140     0.0
...      ...     ...
17498    116  1479.0
17499    117  1480.0
17500     29  1481.0
17501     40  1481.0
17502    132  1482.0
17503     96  1483.0
17504     79  1484.0
17505     60  1485.0
17506      8  1486.0
17507      4  1486.0
17508    108  1486.0
17509     45  1486.0
17510    180  1487.0
17511     10  1488.0
17512     16  1491.0
17513    112  1492.0
17514     76  1492.0
17515     97  1492.0
17516     72  1493.0
17517    148  1493.0
17518     41  1494.0
17519     95  1494.0
17520     64  1495.0
17521    110  1495.0
17522     15  1495.0
17523     52  1496.0
17524     90  1497.0
17525     16  1497.0
17526     37  1497.0
17527     89  1499.0

[17528 rows x 2 columns]